$other-gray: #e6e6e6;
$gray: #888B8D;
$light-gray: #f2f2f2;
$lightest-gray: #f8f8f8;
$green: #00A82D;
$dark-green: #008f26;
$light-green: #CEDC00;
$black: #191919;
$white: #FFFFFF;
$red: #e54e41;
$dark-red: #b53c31;
$blue: #0081c2;
$purple: rgb(94, 19, 94);

