input {
    text-align: left;
    border: 1px solid $light-gray;
    border-radius: 10px;
    color: $gray;
}

button {
    background-color: $green;
    color: $white;
    text-align: center;

    padding: 10px 30px;
    border: 1px solid $green;
    border-radius: 10px;
}

button:hover {
    background-color: $dark-green;
}

a {
    color: $green;
}

a:hover {
    color: $dark-green;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 1.4em;
}


