$dropdown-blur: 2px;

.dropdown {
    position: absolute;
    z-index: 1;

    padding: 20px 0;
    border: 1px $light-gray solid;
    border-radius: 3px;
    background-color: white;
    box-shadow: -2px -2px $dropdown-blur $other-gray, 2px 2px $dropdown-blur $other-gray, -2px 2px $dropdown-blur $other-gray, 2px -2px $dropdown-blur $other-gray ;
    width: 155px;
    list-style: none;
}

.dropdown button {
    width: 155px;
    background-color: transparent;
    padding: 0 5px 0 20px;

    box-sizing: border-box;
    
    border: 1px $white solid;
    border-radius: 0;
    color: $black;
    text-align: left;
}

.dropdown button:hover {
    background-color: $light-gray;
    border: 1px $light-gray solid;
    border-radius: 0;
}

// ellipsis dropdown
.ell-dropdown-button {
    height: 30px;
    width: 20px;
    background-color: transparent;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ell-dropdown-button:hover {
    background-color: $light-gray;
    border: 1px $light-gray solid;
    border-radius: 3px;
}

.ell-dropdown {
    right: 28px;
    width: 155px;
    top: 47px;
}

//account dropdown
.account-dropdown {
    top: 40px;
    width: 100%;
}

.account-dropdown-button {
    position: relative;
    background-color: transparent;
    border: 0;
    color: $gray;
    text-align: left;
    padding: 0;
    height: 35px;
    // width: 100%;
    display: inline-flex;
    align-items: center;
}

.account-dropdown-button:hover {
    background-color: transparent;
    color: $light-gray;
}

.account-dropdown button {
    width: 100%;
}



// actions dropdown

.dropdown-anchor {
    position: relative;
}

.actions-dropdown-button {
    height: 30px;
    width: 20px;
    background-color: transparent;
    border: 0 transparent;
    border-radius: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $gray;
}

.actions-dropdown-button:hover {
    background-color: $light-gray;
    border: 1px $light-gray solid;
    border-radius: 3px;
}

.actions-dropdown {
    right: 0;
    top: 43px;
}

.actions-dropdown > li {
    line-height: initial;
}


// tag actions dropdown

.tag-dropdown {
    width: 200px;
    left: 5px;
    bottom: 35px;
}

.tag-dropdown button {
    width: 100%;
}

