.ellipsis-icon {
    color: $gray;
}

.add-note-icon {
    color: $green;
    font-size: 1.6em;
    padding-right: 10px;
}

.account-icon {
    font-size: 1.6em;
    padding-right: 10px;
}

.dropdown-caret-icon {
    font-size: 1em;
    padding-left: 10px;
}

.nav-icon {
    color: $gray;
    padding-right: 10px;
    font-size: 1em;
}