.ellipsis-icon {
    color: $gray;
}

.add-note-icon {
    color: $green;
    font-size: 1.6em;
    padding-right: 10px;
    padding-left: 6px;
    transform: scale(1.2);
    transition: transform 0.2s linear;
}

.account-icon {
    font-size: 1.6em;
    padding-right: 8px;
}

.dropdown-caret-icon {
    font-size: 1em;
    padding-left: 10px;
}

.nav-icon {
    color: $gray;
    // padding-right: 10px;
    font-size: 1em;
}

.fa-caret-right.nav-icon {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.fa-caret-right.nav-icon.open {
    transform: rotate(90deg);
    transition: transform 0.2s linear;
}

.fa-times {
    transform: scale(1.5,1.5);
}

.fa-book-open {
    padding-right: 10px;
}

.fa-search {
    transform: scale(1.1,1.1);
    padding-right: 10px;
    padding-left: 5px;
}

.fa-sticky-note {
    padding-left: 2px;
}