.main-container {
    display: grid;
    grid-template-columns: 240px 345px 1fr;

    height: 100vh;
    font-family: $sans-serif;
}


// NAV
//
// 

.main-nav-container {
    padding: 15px 0 0;

    display: grid;
    grid-template-rows: 50px 50px 50px 100px 1fr;

    color: $gray;
    background-color: $black;
}

.nav-profile, .nav-search {
    padding-left: 15px;
}

.nav-profile {
    position: relative;
}

.nav-new-note {
    padding: 0 0 0 15px;
    background-color: transparent;
    border: 0;
    color: $white;
    text-align: left;
    height: 35px;
    width: 130px;
    display: inline-flex;
    align-items: center;
}

.nav-new-note:hover .add-note-icon {
    transform: scale(1.2);
    transition: transform 0.1s linear;
}

.nav-new-note:hover {
    background-color: transparent;
}

.main-nav-links {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(auto-fill, 35px);
    align-items: center;
}

.nav-link-button {
    display: inline-flex;
    align-items: center;
    
    width: 100%;
    background-color: transparent;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    color: $gray;
    text-align: left;
}

.nav-link-container {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
}

.nav-link {
    color: $light-gray;
    height: 35px;
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
}

.nav-link:hover {
    color: $light-gray;
}

.nav-link-container:hover, .main-nav-links li:hover {
    border: 0;
    background-color: rgba(255, 255, 255, 0.064);
}

// .nav-link-button:hover {
//     border: 0;
//     background-color: rgba(255, 255, 255, 0.064);
// }

// SIDEBAR
// 
// 

.sidebar-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr;
    text-align: left;
    background-color: $lightest-gray;
    border-right: 1px $other-gray solid;
}

.sidebar-scroll {
    display: grid;
    grid-template-rows: repeat(auto-fit, 120px);
    overflow: auto;
}

.sidebar-header {
    box-sizing: border-box;
    padding: 0 25px;
    height: 100%;
    border-bottom: 1px $other-gray solid;

    background-color: $lightest-gray;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.sidebar-header > .col-1 {
    grid-column: 1 / 2;
}

.sidebar-header h3 {
    grid-column: 1 / -1;
}

.sidebar-header > .col-2 {
    grid-column: 2 / -1;
    justify-self: end;
}

.sidebar-header > .row-1 {
    grid-row: 1 / 2;
}

.sidebar-header > .row-2 {
    grid-row: 2 / -1;
}

.sidebar-note-container {
    border-bottom: 1px $other-gray solid;
}

.sidebar-note {
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
    padding: 0 25px;

    background-color: $lightest-gray;
    color: $black;
    text-align: left;

    width: 100%;
    height: 100%;
}

.sidebar-note-grid {
    display: grid;
    grid-template-rows: 40px 50px 40px;
    max-height: 100%;
}

.sidebar-note:hover {
    background-color: $light-gray;;
}

.sidebar-note-grid h4 {
    align-self: end;
}

.sidebar-note-grid p {
    overflow: hidden;
}


