.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-modal {
    width: 500px;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 80px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: $white;
    padding: 10px 25px 0;
    border: 1px solid $gray;
    border-radius: 3px;
    box-sizing: border-box;
}

.close-modal {
    grid-row: 1 / 2;
    grid-column: -1 / 2;
    justify-self: end;

    height: 30px;
    width: 30px;
    padding: 0;
    background-color: transparent;
    color: $gray;
    border: 0;
}

.close-modal:hover {
    color: $gray;
    background-color: transparent;
    border: 0;
}

.delete-modal p {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.modal-actions {
    grid-row: -2 / -1;
    grid-column: -1 / 2;
    justify-self: end;
}

.modal-actions button {
    height: 35px;
    border-radius: 3px;
    padding: 0 15px;
    box-sizing: border-box;
}

.modal-actions button:first-of-type {
    //cancel
    border: 1px solid $light-gray;
    background-color: transparent;
    color: $gray;
    margin: 0 10px;
}

.modal-actions button:first-of-type:hover {
    //cancel
    border: 1px solid $gray;
    background-color: transparent;
    color: $gray;
}

.delete-modal .modal-actions button:last-of-type {
    //delete
    border: 1px solid $red;
    background-color: $red;
    color: $white;
}

.delete-modal .modal-actions button:last-of-type:hover {
    background-color: #b53c31;
}

// new notebook modal

.new-notebook-modal {
    width: 550px;
    height: 320px;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 80px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: $white;
    padding: 10px 25px 0;
    border: 1px solid $gray;
    border-radius: 3px;
    box-sizing: border-box;
}

.new-notebook-modal .modal-actions button:last-of-type {
    //continue
    border: 1px solid $green;
    background-color: $green;
    color: $white;
}

.new-notebook-modal .modal-actions button:last-of-type:hover {
    background-color: darkgreen;
}

#disabled-button {
    background-color: $light-gray;
    border: 1px solid $light-gray;
}

#disabled-button:hover {
    cursor: default;
}

.new-notebook-modal p {
    align-self: start;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.new-notebook-modal form {
    align-self: start;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    color: $gray;
}

.new-notebook-modal form h4 {
    padding-bottom: 5px;
}

.new-notebook-modal input {
    padding-left: 15px;
    width: 500px;
    height: 40px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    font-size: 1.3em;
}
