.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    
    font-family: $sans-serif;
    font-size: 1em;

    display: grid;
    grid-template-columns: 233px 1fr 80px 35px 130px;
    grid-template-rows: 80px;
    align-items: center;
}

.nav-logo-container {
    position: relative;
}

.home-nav-logo {
    width: 100%;
    position: absolute;
    right: 25px;
    top: -50px;
}

.nav-logo {
    height: 100%;
    width: 100%;
}

.nav-links {
    padding-left: 30px;
}

.nav-links a {
    color: $black;
    padding: 0 10px;
    font-size: 1.2em;
}

.nav-links a:hover {
    color: $green;
}

.nav-signup {
    justify-self: end;
}

.nav-login {
    justify-self: end;
}

.nav-container > p {
    justify-self: end;
}

.nav-login button {
    background-color: white;
    height: 25px;
    color: $dark-green;
    border: 2px solid $dark-green;
    border-radius: 3px;
    font-style: bold;
}

.nav-login button:hover {
    background-color: white;
    border: 2px solid $green;
    height: 25px;
    color: $green;
}
